Source: huayra-backgrounds-huayra5
Section: graphics
Priority: extra
Maintainer: Matias De lellis <mati86dl@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Homepage: https://github.com/HuayraLinux/huayra-backgrounds-huayra5
Vcs-Git: https://github.com/HuayraLinux/huayra-backgrounds-huayra5.git

Package: huayra-backgrounds-huayra5
Architecture: all
Depends: ${misc:Depends}
Description: Fondos de escritorio de Huayra 5.
 Pack de fondos de escritorio oficial de Huayra 5.0.
